<%- include('../ejs/_functions.ejs') %>
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
<title></title>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,700|Roboto:300,400,700|Roboto+Mono&display=swap&subset=japanese" rel="stylesheet">
<link rel="stylesheet" href="assets/css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="assets/js/common.js"></script>
</head>
<body>
<div class="l-wrapper">
    <header class="l-header">
        <h1 class="l-header__title"><a href="#" class="u-point">BLOG<span class="u-point__bold">TITLE</span></a></h1>
        <div class="l-header__search">
            <a href="search.html" class="l-header__search-btn">
                <svg>
                    <use xlink:href="#svg-search"></use>
                </svg>
            </a>
            <form action="" class="l-header__search-form">
                <input type="text" class="l-header__search-field" placeholder="Search Keyword">
            </form>
        </div>
    </header>