<ul class="p-pager">
    <li class="p-pager__item"><a href="#">1</a></li>
    <li class="p-pager__item p-pager__item--current"><a href="#">2</a></li>
    <li class="p-pager__item"><a href="#">3</a></li>
    <li class="p-pager__item"><a href="#">4</a></li>
    <li class="p-pager__item"><a href="#">5</a></li>
    <li class="p-pager__item"><a href="#">6</a></li>
</ul>