<article class="p-post-list__item">
    <a href="#" class="p-post-list__item-image">
        <div class="p-post-list__item-image-text">
            <div class="p-post-list__item-image-text-bold">CATCHPHRASE</div>
            CATCHPHRASE
        </div>
    </a>
    <div class="p-post-list__item-data">
        <h2 class="p-post-list__item-title"><a href="#">Post title post title post title post title post title post title post title post title post title post title post title post title</a></h2>
        <div class="p-post-list__item-meta">
            <div class="p-post-list__item-meta-date">2019.08.20</div>
            <div class="p-post-list__item-meta-author">AUTHOR NAME</div>
        </div>
    </div>
</article>